name: Validate Commits

on:
  pull_request:
    types: [opened, edited, synchronize]

jobs:
  validate:
    name: Validate Commit Messages
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          
      - name: Validate Commit Messages
        uses: wagoid/commitlint-github-action@v6
        with:
          configFile: .commitlintrc.json
